@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    color: #D3D0DF;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #110E1B;
    /* min-width:100%; */
    overflow-x: hidden;
}

.title{
    display: flex;
    justify-content: center;
}
/* NAV BAR */
/* ----------------------------------------------------------------------------------------------- */
header{
    z-index: 1;
    position: fixed;
    background-color: #191528;
    top: 0;
    left: 0;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    display: inline;
    padding: 20px;
    text-align: center;
}

header a{
    font-size: large;
    text-decoration: none;
}

ul li a.icon{
    display: none;
    /* visibility: hidden; */
}

/* HOME */
/* -----------------------------------------------------------------------------------------------*/
#home {
    /* background-color: maroon; */
    height: 85vh;
    /* width: 100%; */
    display: flex;
    /* flex-direction: column; */
    
    align-items: center;
}

.home-button-container{
    margin-top: 5vh;
}

.resume, .github-profile{
    /* margin: 10px; */
    font-size: 1em;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: #7c162e;
    border:none;
}

.intro{
    /* background-color: royalblue; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 40px;
    /* max-height: 80vh; */
    /* min-width: 70vh; */
}

.intro #hw{
    font-size: 10vh;
    font-weight: bold;
    position: relative;
    text-shadow: 
        0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    
    animation: glitch 1000ms infinite;
}

.intro span{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.intro span:first-child {
    animation: glitch 1050ms infinite;
    /* color: red;
    z-index: 1; */
    clip-path: polygon(0 30%, 100% 30%, 100% 50%, 0 50%);
    transform: translate( -0.08em, -0.08em);
}

.intro span:last-child {
    animation: glitch 2000ms infinite;
    /* color: green;
    z-index: 1; */
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate( 0.05em, 0.05em);
}

@keyframes glitch{
    0% {
        text-shadow: 
        0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
        text-shadow: 
        0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
        text-shadow: 
        -0.05em 0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
        text-shadow: 
        -0.05em 0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
        text-shadow: 
        0.025em -0.05em 0 rgba(255, 0, 0, 0.75),
        -0.01em 0.05em 0 rgba(0, 255, 0, 0.75),
        -0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
        text-shadow: 
        0.025em -0.05em 0 rgba(255, 0, 0, 0.75),
        -0.01em 0.05em 0 rgba(0, 255, 0, 0.75),
        -0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
        text-shadow: 
        -0.05em 0.01em 0 rgba(255, 0, 0, 0.75),
        0.015em -0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}

.intro #txt-below-hw{
    max-width: 50vw;
    font-size: larger;
}

#background-img{
    background-image: url('project-pictures/skull-aesthetic-v3.gif');
    background-size: cover;
}


/* SCROLL ARROW */
/* -----------------------------------------------------------------------------------------------*/
.scroll-arrow {
    /* align-self: flex-end; */
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.7em;
    /* background-color: maroon; */
    /* float: left; */
}

#scroll{
    /* transform: rotate(45deg);
    display: inline-block; */
    /* animation: scroll 1000ms infinite; */
    /* animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; */
    
    animation: scroll-move 500ms infinite alternate;
}

#down{
    /* transform: rotate(315deg);
    display: inline-block; */
   
    /* animation-name: down;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; */

     animation: down-move 500ms infinite alternate;
}

@keyframes scroll {
    0%{
        display: inline-block;
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes down {
    0%{
        display: inline-block;
    }
    100%{
        transform: rotate(-45deg);
    }
}

@keyframes scroll-move {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(45deg) translate(1em, -0.4em);
    }
}

@keyframes down-move {
    0%{
        transform: rotate(-45deg) translate(-1em, 0.2em);
    }
    100%{
        transform: rotate(-45deg);
    }
}
/* PROJECTS */
/* -----------------------------------------------------------------------------------------------*/
#projects{
    padding-top: 10%;
}

.project-container:nth-child(odd){
    margin-top: 50px;
    padding: 30px;
    /* background-image: linear-gradient(to bottom right, #7c162e, #3c162f); */
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.project-container:nth-child(even){
    margin-top: 50px;
    padding: 30px;
    /* background-image: linear-gradient(to bottom right, #7c162e, #3c162f); */
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    text-align: right;
}

.project-image{
    border-radius: 20px;
    border: 5px solid #D3D0DF;
}

.project-not-img-container{
    /* background-color: aqua; */
    /* display: flex;
    align-items: flex-start;
    flex-direction: column; */
    font-size: larger;
    max-width: 40%;
    padding:20px;
}

.project-button-container{
    padding-top: 5vh;
}

button{
    margin: 10px;
    font-size: 1em;
    border-radius: 15px;
    padding: 5px 15px;
    background: #7c162e;
    border:none;
    cursor: pointer;
}

button:hover{
    background: #3c162f;
}

/* PROJECT VIDEOS */
/* -----------------------------------------------------------------------------------------------*/
.video-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.video-container .responsive-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.video-container.active{
    visibility: visible;
    opacity: 1;
}

/* .video-container iframe{
    outline: none;
    position: relative;
    min-height: 80vh;
    min-width: 80vw;
} */

.video-container iframe{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* .video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
} */

/* iframe{
    outline: none;
    position: relative;
    min-width: 300px;
    min-height: 600px;
} */

.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

/* ABOUT ME */
/* -----------------------------------------------------------------------------------------------*/
#about{
    padding-top: 10%;
}

.about-container{
    padding: 30px;
    /* background-image: linear-gradient(to bottom right, #7c162e, #3c162f); */
    display: flex;
    /* height: 50vh; */
    align-items: flex-start;
    justify-content: center;
}

.about-not-img-container{
    padding-left: 5vw;
    /* background-color: red; */
    font-size: larger;
    max-width: 50vw;
}

.img{
    height: auto;
    width: 400px;
}

.name{
    margin-bottom: 30px;
}

.paragraph-about-me{
    margin-left: 5vw;
}

/* CONTACT ME */
/* -----------------------------------------------------------------------------------------------*/
#contact{
    padding-top: 10%;
}

.contact-container{
    padding: 30px;
    /* background-image: linear-gradient(to bottom right, #7c162e, #3c162f); */
    display: flex;
    /* height: 50vh; */
    align-items: flex-start;
    justify-content: center;
}

input[type=text], select, textarea {
    color:#7c162e;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
}

input[type=submit] {
    background-color: #7c162e;
    font-size: larger;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3c162f;
}

.contact-form-container {
    /* background-color: red; */
    border-radius: 5px;
    padding: 20px;
    max-width: 60vw;
} 

.contact-text-container{
    /* background-color: green; */
    padding-left: 5vw;
    padding-top: 3vh;
    font-size: larger;
}

::placeholder{
    color: #110E1B;
}

.social-media{
    /* background-color: #3c162f; */
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.social-media img{
    padding: 20px;
    filter: invert(1);
    max-width: 5vw;
}

.social-media img:hover{
    transform: scale(0.8);
}

/* CONTACT ME */
/* -----------------------------------------------------------------------------------------------*/
footer{
    text-align: center;
}

/* ANIMATIONS */
/* -----------------------------------------------------------------------------------------------*/

/* Nav bar animation */
.line-animation{
    display: inline-block;
    position: relative;
}

.line-animation:after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f9564f;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.line-animation:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}

/* Contents animation */
.from-left{
    transform: translateX(-50%);
}

.from-right{
    transform: translateX(50%);
}

.from-left, .from-right{
    transition: opacity 500ms ease-in, transform 800ms ease-in;
    opacity: 0;
}

.from-left.appear, .from-right.appear{
    opacity: 1;
    transform: translateX(0)
}

.fade-in {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

/* MEDIA QUERIES */
/* -----------------------------------------------------------------------------------------------*/
/* FOR SMALLER DEVICES; ADJUST THE LAYOUT*/
@media (orientation: portrait), (max-width: 768px), (max-width: 1024px){
    #projects, #about, #contact{
        padding-top: 20vh;
    }
    /* NAVBAR ADJUSTMENTS #################################################################################*/
    header{
        display: block;
        float: left;
        /* padding:0; */
    }

    ul li a.icon{
        display: block;
        float: left;
    }

    ul li:not(:first-child){
        display: none;
    }
    
    header ul li{
        padding: 0;
    }

    .navbar.open ul li{
        /* background-color: #7c162e; */
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
    }


    /* HOME ADJUSTMENTS #################################################################################*/
    .intro{
        padding-left: 0;
    }

    .intro #hw{
        margin: 0.2em;
        font-size: 3em;
    }

    .intro #txt-below-hw{
        display: block;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 0.5em;
        /* text-align: justify; */
        /* font-size: larger; */
    }
   
    #background-img{
        background-image: url('project-pictures/skull-aesthetic-v4.gif');
        /* background-size: cover; */
        background-size: 30vh;
        background-repeat: no-repeat;
        background-position: bottom;
    }

   /* PROJECT ADJUSTMENTS #################################################################################*/
        
    .project-container:nth-child(odd){
        margin-top: 2em;
        margin-bottom: 3em;
        padding: 0;
        /* background-image: linear-gradient(to bottom right, #7c162e, #3c162f); */
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .project-container:nth-child(even){
        margin-top: 2em;
        padding: 0;
        /* background-image: linear-gradient(to bottom right, #7c162e, #3c162f); */
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
        /* flex-direction: row-reverse; */
        text-align: left;
    }


   .project-not-img-container{
        display: block;
        min-width: 90%;
        margin: 0 auto;
        font-size: larger;
        padding: 1.2em;
    }

    /* .explanation{
        text-align: justify;
    } */

    .project-not-img-container h2{
        text-align: center;
        margin-bottom: 1.5em;
    }

    .project-container{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        /* margin-top: 2em; */
        width: 100%;
    }

    .project-image{
        display: block;
        margin: 0 auto;
        height: auto;
        max-width: 90%;
        border-radius: 20px;
        border: 5px solid #D3D0DF;
    }

    .project-button-container{
        padding-top: 1.2em;
        /* display: block;
        margin: 0 auto; */
    }

    /* ABOUT ADJUSTMENTS #################################################################################*/
        
    .about-container{
        display: block;
        padding: 0 2em;
        margin: 0 auto;
    }

    .about-not-img-container{
        min-width: 100%;
        padding-left: 0;
    }
    
    .name {
        text-align: center;
        padding-bottom: 2em;
    }

    .paragraph-about-me{
        /* text-align: justify; */
        margin-left: 0;
    }

    .img{
        display: block;
        margin: 2em auto;
        height: auto;
        width: 90%;
        /* background-color: aquamarine; */
    }
    /* CONTACT ADJUSTMENTS #################################################################################*/
    
    .contact-container{
        padding: 2em;
        /* background-image: linear-gradient(to bottom right, #7c162e, #3c162f); */
        display: block;
        margin: 0 auto;
    }

    .contact-form-container {
        border-radius: 5px;
        padding: 0;
        max-width: 100%;
    } 
        
    .contact-text-container{
        /* background-color: green; */
        padding-left: 0;
        padding-top: 3vh;
    }

    .contact-text-container p{
        margin: 0;
        /* text-align: justify; */
    }

    .social-media{
        /* background-color: #3c162f; */
        /* margin: 2em; */
        display: flex;
        align-items: center;
        justify-content: space-between;    
    }

    .social-media img{
        /* margin: 2em; */
        filter: invert(1);
        min-width: 10vw;
    }

    .social-media img:hover{
        transform: scale(0.8);
    }

}